<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <form method="POST" action="{% url 'addhall' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="hallname">hall_name</label>
        <input type="text" name="hall_name" required><br><br>
        <label for=" location">location</label>
        <input type="text" name="location" required><br><br>
        <label for=" capacity">capacity</label>
        <input type="text" name="capacity" required><br><br>
        <label for="price_per_day">price_per_day</label>
        <input type="text" name="price_per_day" required><br><br>
        <label for=" photo_url">photo_url</label>
        <input type="file" name="photo_url" required><br><br>
        <label for=" hall_description">hall_description</label>
        <textarea name="hall_description"></textarea><br><br>
            <button type="submit">ADD</button>
        </form>
        </div>
</body>
</html>